@import "tailwindcss";

:root {
  --background: 250, 250, 250;
  /* Neutral-50 */
  --foreground: 23, 23, 23;
  /* Neutral-900 */
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: var(--font-inter), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Utilitas untuk animasi halus */
@layer utilities {
  .animate-enter {
    animation: enter 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  }
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}